.navbar ul{
    flex-wrap:wrap;
    justify-content: center;
}

.heading{
    font-size:2.5rem;
}

#pic{
    flex-direction: column;
    align-items: center;
}
#pic img{
    width:475px;
    height:300px;
}
#intro h2{
    text-align:center;
    padding:10px;
}
.input{
    width:60%;
}
#msg{
    width:55%;
}
#send{
    width:20%;
}
.footerbar{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:black rgb(0,0,0,0,5);
    position:relative;
    top:0;
}
.footerbar ul{
    display:flex;
    list-style: none;
    margin:20px 0px;
}
.footerbar ul li{
font-family:century;
font-size:1.1rem;
font-weight:bold;
}
.footerbar ul li a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    padding:8px 25px;
    transition:all .5s ease;
}
.footerbar ul li a:hover{
background-color:white;
color:black;
box-shadow: 0 0 10px white;
}